body {
  font-family: monospace;
}

#mypic {
  background-image: url("../images/mypic.jpg");
  background-size: cover;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: auto;
}

#header {
  height: 720px;
  background-color: coral;
}

#aboutme {
  margin-left: 50px;
}
.card{
  border: hidden;
}
