body {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 16px;
}

#mypic {
  background: url("../images/mypic.jpg");
  background-size: cover;
  width: 145%;
  height: 145%;
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  margin: 50%;
}

#mypiccontainer {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  overflow: hidden;
  border: 4px solid white;
}

@media screen and (min-width: 992px) {
  #mypiccontainer {
    width: 250px;
    height: 250px;
    margin: 0 25%;
  }
}
@media screen and (max-width: 992px) {
  #mypiccontainer {
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 25px;
  }
}

#header {
  height: 720px;
  background-color: coral;
}

@media screen and (min-width: 992px) {
  #header #header-row {
    height: 90%;
  }
  #header #tag-row {
    height: 10%;
  }
}

@media screen and (max-width: 992px) {
  #header #header-row {
    height: 75%;
  }
  #header #tag-row {
    height: 25%;
  }
}

#header #tag-row p {
  line-height: 2rem;
}

#aboutme {
  font-size: 1.25em;
}

#aboutme #myname {
  font-size: 1.5em;
}

.card {
  border: hidden;
}

.highlight {
  background: #fff899;
  padding: 2px 5px;
  display: inline-block;
}

.text-muted {
  display: none;
}

.title, #header #tag-row {
  text-align: center;
}

.mytitle {
  margin-bottom: 0px;
}

@media screen and (min-width: 992px) {
  .title {
    text-align: left;
  }
  #header #tag-row {
    text-align: left;
  }
  #aboutme {
    margin-left: 50px;
  }
  #header .row {
    max-width: 1140px;
    margin: auto;
  }
}

@media screen and (min-width: 992px) {
  .card-columns {
    column-count: 3;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .card-columns {
    column-count: 2;
  }
}

@media screen and (max-width: 768px) {
  .card-columns {
    column-count: 1;
  }
<<<<<<< HEAD
}

@import "compass/css3";

.or-spacer {
  margin-top:100px; margin-left:100px; width:400px;
  position:relative;

  .mask {
    overflow:hidden; height:20px;
    &:after {
      content:'';
      display:block; margin:-25px auto 0;
      width:100%; height:25px;
      border-radius:125px / 12px;
      box-shadow:0 0 8px black;
    }
  }
  span {
    $size:50px;
    width:$size; height:$size;
    position:absolute;
    bottom:100%; margin-bottom:-$size/2;
    left:50%; margin-left:-$size/2;
    border-radius:100%;
    box-shadow:0 2px 4px #999;
    background:white;
  }
  span i {
    $offset:4px;
    position:absolute;
    top:$offset; bottom:$offset;
    left:$offset; right:$offset;
    border-radius:100%;
    border:1px dashed #aaa;

    text-align:center;
    line-height:40px;
    font-style:normal;
    color:#999;
  }
}



// vertical variation

.or-spacer-vertical {
  display:inline-block;
  margin-top:100px; margin-left:100px; width:100px;
  position:relative;

  .mask {
    overflow:hidden; width:20px; height:200px;
    //outline:1px solid pink;
  }
  &.left .mask:after {
    content:'';
    display:block; margin-left:-20px;
    width:20px; height:100%;
    border-radius:12px / 125px;
    box-shadow:0 0 8px black;
  }
  &.right .mask:before {
    content:'';
    display:block; margin-left:20px;
    width:20px; height:100%;
    border-radius:12px / 125px;
    box-shadow:0 0 8px black;
  }
=======
>>>>>>> d7768ca19965a12b7473f95388a96e118ce7419b
}

.slash_divider:before {
  font-family: monospace;
  font-size: 1em;
  color: black;
}

@media screen and (max-width: 992px) {
  .slash_divider {
    position: relative;
    height: 30px;
  }

  .slash_divider:before {
    content: "/* - - - - - - - - - - */";
    white-space: pre-wrap;
    position: relative;
    text-align: center;
  }
}


@media screen and (min-width: 992px) {
  .slash_divider {
    position: absolute;
    height: 150px;
    top: -5px;
  }

  .slash_divider:before {
    /* content:'!\A!\A!\A!\A!\A!\A!'; */
    content: "//\A//\A//\A//\A//\A//\A//";
    position:absolute;
    text-align: left;
  }
}
