body {
  font-family: monospace;
}

#mypic {
  background-image: url("../images/mypic.jpg");
  background-size: cover;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: auto;
}

#header {
  height: 720px;
  background-color: coral;
}

#aboutme #myname {
  font-size: 1.5em;
}

.card {
  border: hidden;
}

.highlight {
  background: #fff899;
  padding: 2px 5px;
  display: inline-block;
}

.text-muted {
  display: none;
}

.title {
  text-align: center;
}

@media screen and (min-width: 768px){
  .title {
    text-align: left;
    border-left:1px solid black;
  }
  #aboutme {
    margin-left: 50px;
  }
}
